/* local fonts */
@font-face{
    src:url("Battlestar.ttf") format("truetype");
}

body{
    margin:0px;
    padding:0px;
    width:100%;
    height:100vh;
}
*{
    box-sizing:border-box;
}
/* index styling */
/* start */
/* header information */
div.page-wrapper{
width:100%;
}
div.page-wrapper .header-information{
    display: flex;
    border:hidden;
}
@font-face{

    src:url("../../Fonts/Battlestar.ttf") format("truetype");
}
/*html {
    font-size: 18px;
}*/
:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}
.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}
.active{
    color:red;
}
#navbar {
    --navbar-height: 64px;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin-bottom:100px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.8em;
    width: 100%;
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    color:white;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight:bold;
    font-size:20px;
    font-family:monospace;
    align-items: center;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;
}
.home-link:focus,
.home-link:not()hover {
    /*color: var(--navbar-text-color-focus);*/
    color:#0380F4;
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
    padding:3px 3px;
}

.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
                transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
    background-color: var(--navbar-text-color);
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

.navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    transition: opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}

@media screen and (min-width: 700px) {
    .navbar-toggle {
        display: none;
    }
    
    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
    }
}

section.portfolio-area{
	/*border:2px solid white;*/
	margin-top:40px;
}
section.portfolio-area .portfolio-heading{
	/*border:2px solid yellow;*/
}
section.portfolio-area .portfolio-heading h1{
	/*background:red;*/
	display:block;
	font-family:Battlestar;
	text-align:center;
	font-size:30px;
    text-shadow:2px 2px 2px black;
	color:lightgray;
}
section.portfolio-area .portfolio-heading h1:hover{
	cursor:pointer;
	transition:900ms;
	letter-spacing:4px;
	color:#0380F4;
}
section.portfolio-area .portfolio-heading p{
	display:block;
	max-width:100%;
	line-height:25px;
	margin-top:-10px;
	text-align:center;
	font-family:monospace;
	font-size:20px;
    font-weight:bold;
    text-shadow:2px 2px 2px black;
	color:white;
}
div.project-area{
	border:hidden;
	height:auto;
}
div.project-area .projects{
	display:flex;
	border:hidden;
	height:auto;
	justify-content:center;
}
div.project-area .projects .project-in-card{
	border:hidden;
	box-shadow:2px 2px 10px black;
	width:23%;
	height:250px;
	margin:20px;
	box-sizing:border-box;
    margin-bottom:30px;
}
.project-in-card{
	display:flex;
	flex-direction:column;
}
.project-in-card .project-image{
	border:hidden;
	height:230px;
}
.project-in-card .project-image a img{
	width:100%;
	height:100%;
    background:white;
}
.project-in-card .project-name{
	border:hidden;
	height:40px;
	padding:10px;
	box-sizing:border-box;
}
.project-in-card .project-name h4{
	color:white;
	font-family:monospace;
	line-height:.7;
	display:block;
/*	margin-top:-1px;*/
    font-size:19px;
    text-shadow:2px 2px 2px black;
	text-align:center;
}
